 <!-- header start here -->
 <nav class="navbar navbar-expand-lg py-3 navbar-light bg-white">
    <div class="container px-3">
        <a class="navbar-brand" href="#">
            <img src="assets/images/tmpl-logo.PNG" class="img-fluid">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-between align-items-center w-100"
            id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-lg-0">
                <li class="nav-item px-2">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/temple">Temple</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/gallery">Gallery</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/event">Upcoming Events</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-md-center flex-nowrap">
                <li class="nav-item"><a class="nav-link btn btn-danger" routerLink="/donateNow">Donate Now</a> </li>
            </ul>
        </div>
    </div>
</nav>

<!-- header end here -->