<!-- footer start here -->
<section class="tmpl-ftr pt-5">
    <div class="container-fluid pt-4">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-5 pb-4">
                        <h4>VIHARA</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of <br>
                            the printing and typesetting industry
                        </p>
                        <a href="#" class="btn btn-danger">Ask Question</a>
                    </div>
                    <div class="col-lg-2 col-sm col-4 pb-4">
                        <ul class="list-unstyled">
                            <li class="mb-4">Lorem Ipsum</li>
                            <li><a href="#">About US</a></li>
                            <li><a href="#">Temple History</a></li>
                            <li><a href="#">Photo Gallery</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm col-4 pb-4">
                        <ul class="list-unstyled">
                            <li class="mb-4">Resources</li>
                            <li><a href="#">Video Gallery</a></li>
                            <li><a href="#">Upcoming Events</a></li>
                            <li><a href="#">Contact US</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm col-4 pb-4">
                        <ul class="list-unstyled">
                            <li class="mb-4">Support</li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li>
                                <span>
                                    +1-301-340-3946 <br>
                                    info@vihara.com
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row tmpl-footer-bottom mt-5">
                    <div class="col-lg-6">
                        <p class="pt-3 pb-2 text-muted">Designed & Devlopment by <span><a class="web-t-color td-none" href="https://agnitotechnologies.com/">Agnito Technologies</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer end here -->