 <!-- service section start here -->
 <section class="tmpl-service-sec-hm">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-6 tmpl-svce-rw-desc">
                <a href="#" class="btn btn-secondary banner-section d-none d-lg-block d-xl-block d-md-block" style="width: 30%;">Our Services</a>
                <h1 class="mt-5">Our Services</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type </p>
                <a class="a-link" href="#">Jump to the Information </a>
                <a href="#" class="btn btn-secondary banner-section d-block d-lg-none d-xl-none d-md-none w-50%" style="top: 40px;width: 40%;">Our Services</a>
            </div>
            <div class="col-lg-5">
                <div class="row tmpl-svce-crd-rw">
                    <div class="col-lg-6 col-sm col-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card border-0 tmpl-svce-crd-one">
                            <img src="assets/images/service-hm-1.PNG" class="img-fluid">
                            <div class="card-body">
                                <h5 class="">Pooja</h5>
                                <p>Assertively redefine end end</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm col-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card border-0 tmpl-svce-crd-two">
                            <img src="assets/images/service-hm-2.PNG" class="img-fluid">
                            <div class="card-body">
                                <h5 class="">Darshon</h5>
                                <p>Assertively redefine end end</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm col-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card border-0 tmpl-svce-crd-three shadow">
                            <img src="assets/images/service-hm-2.PNG" class="img-fluid">
                            <div class="card-body">
                                <h5 class="">Car Pooja</h5>
                                <p>Assertively redefine end end</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm col-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="card border-0 tmpl-svce-crd-four shadow">
                            <img src="assets/images/service-hm-2.PNG" class="img-fluid">
                            <div class="card-body">
                                <h5 class="">Prashad</h5>
                                <p>Assertively redefine end end</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service section end here -->