 <!-- news section start here -->
 <section class="tmpl-news">
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <h2 class="tmpl-w-hd-1 mb-5 fw-bolder">Latest <span>news</span></h2>
                        <div class="card shadow-sm" data-aos="fade-right">
                            <div class="card-body pb-1">
                                <div class="row">
                                    <div class="col-lg-3 col-sm col-3 mb-3 pe-0">
                                        <img src="assets/images/temple-2.jpg" class="img-fluid w-100 h-100">
                                    </div>
                                    <div class="col-lg-9 col-sm col-9 mb-3 py-2">
                                        <h6>
                                            Lorem Ipsum is simply dummy text of the printing and
                                        </h6>
                                        <a class="tmpl-days-ago pull-left" href="#"><i class="fa fa-clock-o"></i> 2
                                            days ago</a>
                                        <a class="tmpl-min-read pull-right me-3" href="#"><i
                                                class="fa fa-clock-o"></i> 6 min read</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow-sm" data-aos="fade-left">
                            <div class="card-body pb-1">
                                <div class="row">
                                    <div class="col-lg-3 col-sm col-3 mb-3 pe-0">
                                        <img src="assets/images/temple-2.jpg" class="img-fluid w-100 h-100">
                                    </div>
                                    <div class="col-lg-9 col-sm col-9 mb-3 py-2">
                                        <h6>
                                            Lorem Ipsum is simply dummy text of the printing and
                                        </h6>
                                        <a class="tmpl-days-ago pull-left" href="#"><i class="fa fa-clock-o"></i> 2
                                            days ago</a>
                                        <a class="tmpl-min-read pull-right me-3" href="#"><i
                                                class="fa fa-clock-o"></i> 6 min read</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card shadow-sm" data-aos="fade-right">
                            <div class="card-body pb-1">
                                <div class="row">
                                    <div class="col-lg-3 col-sm col-3 mb-3 pe-0">
                                        <img src="assets/images/temple-2.jpg" class="img-fluid w-100 h-100">
                                    </div>
                                    <div class="col-lg-9 col-sm col-9 mb-3 py-2">
                                        <h6>
                                            Lorem Ipsum is simply dummy text of the printing and
                                        </h6>
                                        <a class="tmpl-days-ago pull-left" href="#"><i class="fa fa-clock-o"></i> 2
                                            days ago</a>
                                        <a class="tmpl-min-read pull-right me-3" href="#"><i
                                                class="fa fa-clock-o"></i> 6 min read</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 tmpl-nws-lst-dv">
                        <div class="card shadow-sm" data-aos="fade-left">
                            <div class="card-body pb-1">
                                <div class="row">
                                    <div class="col-lg-3 col-sm col-3 mb-3 pe-0">
                                        <img src="assets/images/temple-2.jpg" class="img-fluid w-100 h-100">
                                    </div>
                                    <div class="col-lg-9 col-sm col-9 mb-3 py-2">
                                        <h6>
                                            Lorem Ipsum is simply dummy text of the printing and
                                        </h6>
                                        <a class="tmpl-days-ago pull-left" href="#"><i class="fa fa-clock-o"></i> 2
                                            days ago</a>
                                        <a class="tmpl-min-read pull-right me-3" href="#"><i
                                                class="fa fa-clock-o"></i> 6 min read</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-5">
                            <a href="#" class="web-t-color td-none fw-bolder">See all News</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news section end here -->