<div class="container-fluid px-0">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row d-flex justify-content-center align-items-center slider-l-bg">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 py-4 px-5">
                        <h2>Ancient city <span>ujjain</span></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown </p>
                        <a class="btn btn-danger btn-lider-one">Know More</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/images/slider-1.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row d-flex justify-content-center align-items-center slider-l-bg">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 py-4 px-5">
                        <h2>Ancient city <span>ujjain</span></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown </p>
                        <a class="btn btn-danger btn-lider-one">Know More</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/images/slider-1.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row d-flex justify-content-center align-items-center slider-l-bg">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 py-4 px-5">
                        <h2>Ancient city <span>ujjain</span></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown </p>
                        <a class="btn btn-danger btn-lider-one">Know More</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/images/slider-1.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>